<div class="register_row">
<h2 class="register_title">忘記密碼了嗎?</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= f.error_notification %>

  <div class="input_box">
    <%= f.input :email, :required => true, :autofocus => true %>
  </div>

    <%= f.button :submit, "取回密碼", :class => "btn btn-primary" %>
<% end %>

<%= render "users/shared/links" %>
</div>